<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Before Expire</title>
    <link rel="icon" href="https://image.flaticon.com/icons/svg/859/859270.svg">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <style>
        body {
            height: 60vh;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            font-family: sans-serif;
        }
    </style>
</head>

<body>
    <h1>Your item</h1>
    *****show list here*****
    <ul>
        {% for item in items if item.chk==True%}
        <li><a href="{{ url_for('show_item',id=item.id) }}">{{item.name + "*** Expire (" + item.date + ") ***"  }}</a>
        </li>
        
        
        {% endfor %}
    </ul>


    <!-- don't touch code below -->
    <div class="ui items">
        <div class="item">
            <div class="ui small image">
                <img src="https://image.flaticon.com/icons/svg/859/859270.svg" />
                <!-- {% if image == "" %}
                    <img src="https://image.flaticon.com/icons/svg/859/859270.svg" alt="{{name}}" width="100px"/>
                    {% else %}
                    <img src="data:image/jpeg;base64,{{image}}" alt="{{name}}" width="100px" />
                    {% endif %} -->
            </div>
            <div class="middle aligned content">
                <div class="header">
                    Content A
                </div>
                <div class="description">
                    <p></p>
                </div>
                <div class="extra">
                    <div class="ui right floated">
                        <a href="/"><input type="submit" class="ui red button" value="REMOVE" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- don't touch code below -->

    <a href="/create"><button type="submit" class="ui teal button" style="width: 100px;">ADD</button></a>
    <form action="{{ url_for('delete') }}" method = "POST">
        ID of items : <input name = 'title'/>
         <input type="submit" class="ui red button"value="DELETE"/>
     </form>
</body>

</html>
