<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Before Expire</title>
    <link rel="icon" href="https://image.flaticon.com/icons/svg/859/859270.svg">

    <style>
        body {
            height: 100vh;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            font-family: sans-serif;
        }

        img {
            max-height: 25vh;
        }
    </style>
</head>

<body>
    <img src="data:image/png;base64,{{image}}" alt="{{name}}" width="100px" />

    <h1>{{ name }}</h1>
    <p style="font-size: 18px;"><b> Today </b>: {{ time }}</p>
    <p style="font-size: 18px;"><b> Expire</b>: {{date}}</p>
    

    <a href="{{ url_for('index') }}">Home</a>
</body>

</html>